*{
  box-sizing: border-box;
}

/*ALLGEMEINE*/
body{
  margin:0;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight:normal;
  line-height:1,5;
  background-color: #377480

}

.v-header{
  height:10vh;
  padding-top: 1rem;
  display:flex;
  align-items:center;
  background-color:#377480 /*Dark moderate cyan.*/
  /*  text-shadow: 0 0 3px #091821, 0 0 5px #F8F6EC; color: #daecef;*/
}

.v-footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #091821;
  color: #F8F6EC;
  text-align: center;
  }

.section{ /*combining every section*/
  padding:20px 0;
  padding-bottom:2rem;
}

.container{
  height:auto;
  padding-left:1rem;
  padding-right:1rem;
  text-align:center;
  background-color:#377480; /*Dark moderate cyan.*/
  padding-bottom:2rem;
}


.container-left{
  height:auto;/*was 90vh*/
  max-width: 1000px;
  padding-left:10rem;
  padding-right:10rem;
  margin:auto;
  text-align:left;
  background-color:#377480
}

/*CONTENT*/

.first-content h1{
  font-size:4rem;
  color:#F8F6EC;
}

.first-content h2{
  font-size:3rem;
  color:#F8F6EC;
}

.first-content p{
  font-size:2rem;
  color:#F8F6EC;
  padding-bottom:2rem;
}


.form-content h1{
  font-size:3rem;
  margin-bottom: 10px;
  margin-top: 40px;
  display:block;
  color:#F8F6EC;
  font-weight: bold;
  padding: 2px 10px;
}

.form-content h2{
  font-size:2.3rem;
  margin-bottom: 5px;
  display:block;
  color:#F8F6EC;
  padding-top: 0,5rem;
  padding-left: 2rem;
}


/*BUTTON*/

.btn-home{
  background:#091821; /*Dark blue*/
  color:#F8F6EC;
  border-color: #F8F6EC;
  font-size:3.5rem;
  padding: 1rem 2rem;
  text-decoration: none;
}

.btn-send{
  background:#091821; /*Dark blue*/
  color:#F8F6EC;
  border-color: #F8F6EC;
  font-size:3.5rem;
  padding:1rem 2rem;
  margin-top: 50px;
  text-decoration: none;
}


/* -------------------- Select Box Styles*/
#mainselection select {
   border: 0;
   color: #F8F6EC;
   background: #87B3A9;
   font-size:1.5rem;
   font-weight: bold;
   padding: 3px 10px;
   width: 650px;
   *width: 650px;
   *background:#87B3A9 /*Mostly desaturated dark cyan.*/;
   -webkit-appearance: none;
}
#mainselection {
   overflow:hidden;
   font-size:2rem;
   width:650px;
   color: #F8F6EC;
   -moz-border-radius: 9px 9px 9px 9px;
   -webkit-border-radius: 9px 9px 9px 9px;
   border-radius: 9px 9px 9px 9px;
   box-shadow: 1px 1px 11px #091821;
   background: #87B3A9   url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 620px center;
}

/* -------------------- Select Slider */


.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 70%;
    height: 15px;
    border-radius: 5px;
    background: #091821;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: #88b3a9;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #639893;
    cursor: pointer;
}
