.main-container {

  text-align: center;
  background-image: url(flatfotohome.jpeg);
  padding: 30;
  height: 100%;
  width: 100%;
  background-size: cover;
}

.main-container h1 {
  font-size: 70px;
  

}
.subline {
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.subline h4 {
  font-size: 56px;
  color: dimgrey;
}
.btn-primary {
  width: 400px;
  height: 80px;
  font-size: -webkit-xxx-large;
  background-color: 377480;
}

.container-fluid {
  height: 100px;
}
