*{
  box-sizing: border-box;
}

/*ALLGEMEINE*/
body{
  margin:0;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight:normal;
  line-height:1,5;
  background:#fefefe /*light cyan*/
}

.v-header{
  height:10vh;
  font-size:1,5rem;
  display:flex;
  padding-left:1rem;
  align-items:center;
  font-family: fantasy;
  text-shadow: 0 0 3px #091821, 0 0 5px #EAE5C7; color: #daecef;
  background-color:#377480 /*Dark moderate cyan.*/
}

.section{ /*combining every section*/
  padding:20px 0;
  padding-bottom:2rem;
}

.container{
  height:70vh;
  padding-left:1rem;
  padding-right:1rem;
  text-align:center;
  background-color:#fefefe /*light cyan*/
}

.second-container{
  padding-left:1rem;
  padding-right:1rem;
  margin:auto;
  text-align:center;
  background-color:#629894; /*Mostly desaturated dark cyan.*/
  padding-bottom:2rem;
}
.container-left{
  height:90vh;
  max-width: 1000px;
  padding-left:1rem;
  padding-right:1rem;
  margin:auto;
  text-align:padding-left;
  background-color:#fefefe /*light cyan*/
}

/*CONTENT*/

.first-content h1{
  font-size:3rem;
  margin-bottom:0;
  color:#091821;
}

.first-content p{
  font-size:2rem;
  display:block;
  color:#091821;
  padding-bottom:2rem;
}

.second-content h1{
  display:block;
  font-size:2rem;
  margin-bottom:0;
  color:#fff;
}
.second-content p{
  font-size:1,5rem;
  display:block;
  color:#fff;
  padding-bottom:2rem;
}

.content-a h1{
  font-size:2rem;
  margin-bottom:0;
  color:#091821;
}

.content-a p{
  font-size:1rem;
  margin-bottom:0;
  color:#091821;
}

/*BUTTON*/

.btn{
  background:#091821; /*Dark blue*/
  color:#ffff;
  border-color: #EAE5C7;
  font-size:1.2rem;
  padding: 1rem 2rem;
  text-decoration: none;
}

/*Gallery Overview*/
.gallery-wrap {
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.item {
  flex: 1;
  height: 80%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
  &:hover{flex: 2;}
}

.item-1 {
  background-image: url('file:///C:/Users/Admin/Documents/flatemate/item1.jpg');
}

.item-2 {
  background-image: url('file:///C:/Users/Admin/Documents/flatemate/item2.jpg');
}


/* -------------------- Select Box Styles*/
#mainselection select {
   border: 0;
   color: #ffff;
   background: #629894 ;
   font-size: 20px;
   font-weight: bold;
   padding: 2px 10px;
   width: 600px;
   *width: 600px;
   *background:#629894 /*Mostly desaturated dark cyan.*/;
   -webkit-appearance: none;
}
#mainselection {
   overflow:hidden;
   width:650px;
   -moz-border-radius: 9px 9px 9px 9px;
   -webkit-border-radius: 9px 9px 9px 9px;
   border-radius: 9px 9px 9px 9px;
   box-shadow: 1px 1px 11px #330033;
   background: #629894   url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 620px center;
}
